---
title: {{name}}
assembly: {{name}}
version: {{Semver version}}
layout: default@4.5.0
{{#each @dropdown}}
{{#if @first}}
dropdown:
{{/if}}
- '{{this}}'
{{/each}}
---
{% raw %}
{{> Breadcrumbs this}}

<h2>{{name}}</h2>

{{> Documentation node=summary}}

{{> MembersDeclaraction members=namespaces title='Namespaces'}}

{{> Documentation node=remarks title='Remarks'}}
{{> Documentation node=examples}}
{{> Documentation node=relatedMembers title='Related Members' asList=1}}
{% endraw %}