---
title: {{name}} Constant
assembly: {{assembly.name}}
version: {{Semver declaringType.assembly.version}}
layout: default@4.5.0
{{#each @dropdown}}
{{#if @first}}
dropdown:
{{/if}}
- '{{this}}'
{{/each}}
---
{% raw %}
{{> Breadcrumbs this}}

<h2>{{name}} Constant</h2>

<p>Constant type: {{MemberReference type}}.</p>
{{> Documentation node=summary}}

{{#if isStatic}}
<p>This is a <a href="https://docs.microsoft.com/dotnet/csharp/language-reference/keywords/static">static</a> constant.</p>
{{else if isShadowing}}
<p>This is a <a href="https://docs.microsoft.com/dotnet/csharp/language-reference/keywords/new-modifier">shadowing</a> constant.</p>
{{/if}}

{{> Documentation node=remarks title='Remarks'}}
{{> Documentation node=examples}}
{{> Documentation node=relatedMembers title='Related Members' asList=1}}
{% endraw %}