---
title: {{name}} Interface
assembly: {{assembly.name}}
version: {{Semver assembly.version}}
layout: default@4.5.0
---
{% raw %}
{{> Breadcrumbs this}}

<h2>{{name}} Interface</h2>

{{> Documentation node=summary}}

<p>
    {{#each implementedInterfaces}}
    {{~#if @first}}<br />Inherited interfaces:{{else}},{{/if}}
    {{MemberReference ~}}
    {{~#if @last}}.{{/if}}
    {{/each}}
</p>

{{> GenericParametersDocumentation genericParameters}}

{{> MembersDeclaraction members=events title='Events'}}
{{> MembersDeclaraction members=properties title='Properties'}}
{{> MembersDeclaraction members=methods title='Methods'}}

{{> Documentation node=remarks title='Remarks'}}
{{> Documentation node=examples}}
{{> Documentation node=relatedMembers title='Related Members' asList=1}}
{% endraw %}