---
title: {{name}} Property
assembly: {{assembly.name}}
version: {{Semver declaringType.assembly.version}}
layout: default@4.5.0
---
{% raw %}
{{> Breadcrumbs this}}

<h2>{{name}} Property</h2>

<p>Property type: {{MemberReference type}}.</p>
{{> Documentation node=summary}}

{{#if getter}}
{{#if setter}}
<p>This is a read and write property (<code>{{MemberAccessModifier}}</code>).</p>
{{else}}
<p>This is a read only property (<code>{{MemberAccessModifier}}</code>).</p>
{{/if}}
{{else}}
<p>This is a write only property (<code>{{MemberAccessModifier}}</code>).</p>
{{/if}}

{{#if isStatic}}
<p>This is a <a href="https://docs.microsoft.com/dotnet/csharp/language-reference/keywords/static">static</a> property.</p>
{{else if isSealed}}
<p>This is a <a href="https://docs.microsoft.com/dotnet/csharp/language-reference/keywords/sealed">sealed</a> property.</p>
{{else if isAbstract}}
<p>This is an <a href="https://docs.microsoft.com/dotnet/csharp/language-reference/keywords/abstract">abstract</a> property.</p>
{{else if isVirtual}}
<p>This is a <a href="https://docs.microsoft.com/dotnet/csharp/language-reference/keywords/virtual">virtual</a> property.</p>
{{else if isOverride}}
<p>This is an <a href="https://docs.microsoft.com/dotnet/csharp/language-reference/keywords/override">overriding</a> property.</p>
{{else if isShadowing}}
<p>This is a <a href="https://docs.microsoft.com/dotnet/csharp/language-reference/keywords/new-modifier">shadowing</a> property.</p>
{{/if}}

{{> Documentation node=value title='Value'}}

{{#each parameters}}
{{#if @first}}
<h3>Parameters</h3>
<ul>
    {{/if}}
    <li>
        <h5>{{this.name}}: {{MemberReference type}}</h5>
        {{> Documentation node=description}}
    </li>
    {{#if @last}}
</ul>
{{/if}}
{{/each}}

{{#each exceptions}}
{{#if @first}}
<h3>Exceptions</h3>
<ul>
    {{/if}}
    <li>{{> Documentation node=this}}</li>
    {{#if @last}}
</ul>
{{/if}}
{{/each}}

{{> Documentation node=remarks title='Remarks'}}
{{> Documentation node=examples}}
{{> Documentation node=relatedMembers title='Related Members' asList=1}}
{% endraw %}