---
title: {{name}} Constructor
assembly: {{assembly.name}}
version: {{Semver declaringType.assembly.version}}
layout: Bootstrap@4.5.0
{{#each @dropdown}}
{{#if @first}}
dropdown:
{{/if}}
- '{{this}}'
{{/each}}
---
{% raw %}
{{> Breadcrumbs this}}

<h2>{{name}} Constructor</h2>

{{> Documentation node=summary}}

<p>This is a <code>{{MemberAccessModifier}}</code> constructor.</p>

{{#each parameters}}
{{#if @first}}
<h3>Parameters</h3>
<ul>
    {{/if}}
    <li>
        <h5>{{name}}: {{MemberReference type}}</h5>
        {{> Documentation node=description}}
    </li>
    {{#if @last}}
</ul>
{{/if}}
{{/each}}

{{#each exceptions}}
{{#if @first}}
<h3>Exceptions</h3>
<ul>
    {{/if}}
    <li>{{> Documentation node=this}}</li>
    {{#if @last}}
</ul>
{{/if}}
{{/each}}

{{> Documentation node=remarks title='Remarks'}}
{{> Documentation node=examples}}
{{> Documentation node=relatedMembers title='Related Members' asList=1}}
{% endraw %}