---
title: {{name}} Interface
layout: Bootstrap@4.5.0
assembly: {{assembly.name}}
version: {{Semver assembly.version}}
{{#each @dropdown}}
{{#if @first}}
dropdown:
{{/if}}
- '{{this}}'
{{/each}}
---
{% raw %}
{{> Breadcrumbs this}}

<h2>{{name}} Interface</h2>

{{> Documentation node=summary}}

<p>
    {{#each implementedInterfaces}}
    {{~#if @first}}<br />Inherited interfaces:{{else}},{{/if}}
    {{MemberReference ~}}
    {{~#if @last}}.{{/if}}
    {{/each}}
</p>

{{> GenericParametersDocumentation genericParameters}}

{{> MembersDeclaraction members=events title='Events'}}
{{> MembersDeclaraction members=properties title='Properties'}}
{{> MembersDeclaraction members=methods title='Methods'}}

{{> Documentation node=remarks title='Remarks'}}
{{> Documentation node=examples}}
{{> Documentation node=relatedMembers title='Related Members' asList=1}}
{% endraw %}