---
title: {{name}} Namespace
layout: Bootstrap@4.5.0
assembly: {{assembly.name}}
version: {{Semver assembly.version}}
{{#each @dropdown}}
{{#if @first}}
dropdown:
{{/if}}
- '{{this}}'
{{/each}}
---
{% raw %}
{{> Breadcrumbs this}}

<h2>{{#if name}}{{name}}{{else}}global{{/if}} Namespace</h2>

{{> Documentation node=summary}}

{{> MembersDeclaraction members=enums title='Enums'}}
{{> MembersDeclaraction members=delegates title='Delegates'}}
{{> MembersDeclaraction members=interfaces title='Interfaces'}}
{{> MembersDeclaraction members=records title='Records'}}
{{> MembersDeclaraction members=classes title='Classes'}}
{{> MembersDeclaraction members=structs title='Structs'}}

{{> Documentation node=remarks title='Remarks'}}
{{> Documentation node=examples}}
{{> Documentation node=relatedMembers title='Related Members' asList=1}}
{% endraw %}