{{#with declarationNode}}
<h2>{{MemberName @root this}} Class</h2>

{{DocumentationContent @root summary}}

<p>
    Base type: {{TypeReferenceLink @root baseClass}}.
    {{#if (HasAny @root implementedInterfaces)}}
    {{#each implementedInterfaces}}
    {{~#if @first}}<br />Implemented interfaces:
    {{else ~}}
    ,
    {{/if}}
    {{TypeReferenceLink @root this ~}}
    {{/each}}
    {{/if}}
</p>

{{#if isStatic}}
<p>This is a <a href="https://docs.microsoft.com/dotnet/csharp/language-reference/keywords/static">static</a> class.</p>
{{else if isSealed}}
<p>This is a <a href="https://docs.microsoft.com/dotnet/csharp/language-reference/keywords/sealed">sealed</a> class.</p>
{{else if isAbstract}}
<p>This is an <a href="https://docs.microsoft.com/dotnet/csharp/language-reference/keywords/abstract">abstract</a> class.</p>
{{/if}}

{{MemberDefinitionsList @root 'Constants' constants 'includeAccessor'}}
{{MemberDefinitionsList @root 'Fields' fields 'includeAccessor'}}
{{MemberDefinitionsList @root 'Constructors' constructors 'includeAccessor'}}
{{MemberDefinitionsList @root 'Events' events 'includeAccessor'}}
{{MemberDefinitionsList @root 'Properties' properties 'includeAccessor'}}
{{MemberDefinitionsList @root 'Methods' methods 'includeAccessor'}}

{{MemberDefinitionsList @root 'Nested Enums' nestedEnums 'includeAccessor'}}
{{MemberDefinitionsList @root 'Nested Delegates' nestedDelegates 'includeAccessor'}}
{{MemberDefinitionsList @root 'Nested Interfaces' nestedInterfaces 'includeAccessor'}}
{{MemberDefinitionsList @root 'Nested Classes' nestedClasses 'includeAccessor'}}
{{MemberDefinitionsList @root 'Nested Structs' nestedStructs 'includeAccessor'}}

{{DocumentationContent @root remarks}}
{{DocumentationContent @root examples}}
{{RelatedMembersList @root relatedMembers}}
{{/with}}