{{#with declarationNode}}
<h2>{{MemberName this}} Class</h2>

{{DocumentationContent summary}}

<p>
    Base type: {{TypeReferenceLink baseClass}}.
    {{#if (HasAny implementedInterfaces)}}
    {{#each implementedInterfaces}}
    {{~#if @first}}<br />Implemented interfaces:
    {{else ~}}
    ,
    {{/if}}
    {{TypeReferenceLink this ~}}
    {{/each}}
    {{/if}}
</p>

{{#if isStatic}}
<p>This is a <a href="https://docs.microsoft.com/dotnet/csharp/language-reference/keywords/static">static</a> class.</p>
{{else if isSealed}}
<p>This is a <a href="https://docs.microsoft.com/dotnet/csharp/language-reference/keywords/sealed">sealed</a> class.</p>
{{else if isAbstract}}
<p>This is an <a href="https://docs.microsoft.com/dotnet/csharp/language-reference/keywords/abstract">abstract</a> class.</p>
{{/if}}

{{MemberDefinitionsList 'Constants' constants 'includeAccessor'}}
{{MemberDefinitionsList 'Fields' fields 'includeAccessor'}}
{{MemberDefinitionsList 'Constructors' constructors 'includeAccessor'}}
{{MemberDefinitionsList 'Events' events 'includeAccessor'}}
{{MemberDefinitionsList 'Properties' properties 'includeAccessor'}}
{{MemberDefinitionsList 'Methods' methods 'includeAccessor'}}

{{MemberDefinitionsList 'Nested Enums' nestedEnums 'includeAccessor'}}
{{MemberDefinitionsList 'Nested Delegates' nestedDelegates 'includeAccessor'}}
{{MemberDefinitionsList 'Nested Interfaces' nestedInterfaces 'includeAccessor'}}
{{MemberDefinitionsList 'Nested Classes' nestedClasses 'includeAccessor'}}
{{MemberDefinitionsList 'Nested Structs' nestedStructs 'includeAccessor'}}

{{DocumentationContent remarks}}
{{DocumentationContent examples}}
{{RelatedMembersList relatedMembers}}
{{/with}}