{{#with declarationNode}}
<h2>{{MemberName @root this}} Constructor</h2>

{{DocumentationContent @root summary}}

<p>This is a <code>{{MemberAccessModifier @root this}}</code> constructor.</p>

{{#if (HasAny @root parameters)}}
<h3>Parameters</h3>
<ul>
    {{#each parameters}}
    <li>
        <h5>{{this.name}}: {{TypeReferenceLink @root type}}</h5>
        {{DocumentationContent @root description}}
    </li>
    {{/#each}}
</ul>
{{/if}}

{{#if (HasAny @root exceptions)}}
<h3>Exceptions</h3>
<ul>
    {{#each exceptions}}
    <li>
        <h5>{{TypeReferenceLink @root type}}</h5>
        {{DocumentationContent @root description}}
    </li>
    {{/each}}
</ul>
{{/if}}

{{DocumentationContent @root remarks}}
{{DocumentationContent @root examples}}
{{RelatedMembersList @root relatedMembers}}
{{/with}}