{{#with declarationNode}}
<h2>{{MemberName @root this}} Namespace</h2>

{{DocumentationContent @root summary}}

{{MemberDefinitionsList @root 'Enums' enums}}
{{MemberDefinitionsList @root 'Delegates' delegates}}
{{MemberDefinitionsList @root 'Interfaces' interfaces}}
{{MemberDefinitionsList @root 'Classes' classes}}
{{MemberDefinitionsList @root 'Structs' structs}}

{{DocumentationContent @root remarks}}
{{DocumentationContent @root examples}}
{{RelatedMembersList @root relatedMembers}}
{{/with}}