{{#with declarationNode}}
<h2>{{MemberName @root this}} Property</h2>

<p>Property type: {{TypeReferenceLink @root type}}.</p>
{{DocumentationContent @root summary}}

{{#if (IsReadOnlyProperty @root this)}}
<p>This is a read only property (<code>{{MemberAccessModifier @root this}}</code>).</p>
{{else if (IsWriteOnlyProperty @root this)}}
<p>This is a write only property (<code>{{MemberAccessModifier @root this}}</code>).</p>
{{else}}
<p>This is a read and write property (<code>{{MemberAccessModifier @root this}}</code>).</p>
{{/if}}

{{DocumentationContent @root value}}

{{#if (HasAny @root parameters)}}
<h3>Parameters</h3>
<ul>
    {{#each parameters}}
    <li>
        <h5>{{this.name}}: {{TypeReferenceLink @root type}}</h5>
        {{DocumentationContent @root description}}
    </li>
    {{/#each}}
</ul>
{{/if}}

{{#if (HasAny @root exceptions)}}
<h3>Exceptions</h3>
<ul>
    {{#each exceptions}}
    <li>
        <h5>{{TypeReferenceLink @root type}}</h5>
        {{DocumentationContent @root description}}
    </li>
    {{/each}}
</ul>
{{/if}}

{{DocumentationContent @root remarks}}
{{DocumentationContent @root examples}}
{{RelatedMembersList @root relatedMembers}}
{{/with}}