{{#with data}}
{{#if (HasExposedDefinitions @root definitions)}}
<h3>{{title}}</h3>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Name</th>
            {{#if includeAccessor}}
            <th>Access Modifier</th>
            {{/if}}
            <th class="w-75">Summary</th>
        </tr>
    </thead>
    <tbody>
        {{#if includeAccessor}}
        {{#each definitions}}
        {{#if (IsExposedDefinition @root this)}}
        <tr>
            <td>{{MemberLink @root this}}</td>
            <td class="text-left text-nowrap"><code>{{MemberAccessModifier @root this}}</code></td>
            <td>{{DocumentationContent @root summary}}</td>
        </tr>
        {{/if}}
        {{/#each}}
        {{else}}
        {{#each definitions}}
        {{#if (IsExposedDefinition @root this)}}
        <tr>
            <td>{{MemberLink  @root this}}</td>
            <td>{{DocumentationContent  @root summary}}</td>
        </tr>
        {{/if}}
        {{/#each}}
        {{/if}}
    </tbody>
</table>
{{/if}}
{{/with}}