{{#if (HasPublicDefinitions definitions)}}
<h3>{{title}}</h3>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Name</th>
            {{#if includeAccessor}}
            <th>Access Modifier</th>
            {{/if}}
            <th class="w-75">Summary</th>
        </tr>
    </thead>
    <tbody>
        {{#if includeAccessor}}
        {{#each definitions}}
        {{#if (IsPublicDefinition this)}}
        <tr>
            <td>{{MemberLink this}}</td>
            <td class="text-left text-nowrap"><code>{{MemberAccessModifier this}}</code></td>
            <td>{{DocumentationContent summary}}</td>
        </tr>
        {{/if}}
        {{/#each}}
        {{else}}
        {{#each definitions}}
        {{#if (IsPublicDefinition this)}}
        <tr>
            <td>{{MemberLink this}}</td>
            <td>{{DocumentationContent summary}}</td>
        </tr>
        {{/if}}
        {{/#each}}
        {{/if}}
    </tbody>
</table>
{{/if}}