<a href="{{MemberUrl this}}">{{SimpleMemberName this ~}}</a>
{{~#each genericArguments ~}}
{{#if @first}}
&lt;
{{~else ~}}
,
{{/if}}
{{~TypeReferenceLink this}}
{{~#if @last ~}}
&gt;
{{~/if}}
{{/each}}
{{~ArrayRank this}}