{{#with xmlAttributes}}
{{#unless section}}{{else}}<h4>{{section}}</h4>{{/unless}}
{{#unless subsection}}{{else}}<h5>{{subsection}}</h5>{{/unless}}
{{#unless subsectionExample}}{{else}}<h6>{{subsectionExample}}</h6>{{/unless}}
{{/with}}
<p>{{> Documentation node=content}}</p>