---
title: {{name}} Constructor
version: {{Semver declaringType.assembly.version}}
---
{% raw %}
{{> Breadcrumbs this}}

<h2>{{name}} Constructor</h2>

{{> Documentation summary}}

<p>This is a <code>{{MemberAccessModifier}}</code> constructor.</p>

{{#each parameters}}
{{#if @first}}
<h3>Parameters</h3>
<ul>
    {{/if}}
    <li>
        <h5>{{name}}: {{MemberReference type}}</h5>
        {{> Documentation description}}
    </li>
    {{#if @last}}
</ul>
{{/if}}
{{/#each}}

{{#each exceptions}}
{{#if @first}}
<h3>Exceptions</h3>
<ul>
    {{/if}}
    <li>{{> Documentation}}</li>
    {{#if @last}}
</ul>
{{/if}}
{{/each}}

{{> Documentation node=remarks title='Remarks'}}
{{> Documentation examples}}
{{> Documentation node=relatedMembers title='Related Members' asList=1}}
{% endraw %}