<div id="otherVersions">
    {{#if hasOtherVersions}}
    <div class="btn-group" role="group">
        <button id="otherVersionsButtonGroup" type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Other Versions
        </button>
        <div class="dropdown-menu" aria-labelledby="otherVersionsButtonGroup">
            {{#if isLatestSelected}}
            <a href="{{pathToLatest}}" class="dropdown-item active">Latest</a>
            {{else}}
            <a href="{{pathToLatest}}" class="dropdown-item">Latest</a>
            {{/if}}
            <div class="dropdown-divider"></div>
            <h6 class="dropdown-header">Specific Versions</h6>
            {{#each versions}}
            {{#if isSelected}}
            <a href="{{path}}" class="dropdown-item active">{{label}}</a>
            {{else}}
            <a href="{{path}}" class="dropdown-item">{{label}}</a>
            {{/if}}
            {{/each}}
        </div>
    </div>
    {{/if}}
</div>