<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous" />
</head>
<body class="d-flex flex-column">
    <div>
        <div class="d-flex flex-row align-items-center container px-2 pt-2">
            <h1 class="flex-grow-1 flex-shrink-1">{{assembly.name}} <small>{{Semver assembly.version}}</small></h1>
            <a class="btn btn-link" href="https://github.com/{{GetAssemblyCompany assembly}}/{{assembly.name}}">View on GitHub</a>
            <a class="btn btn-link" href="https://www.nuget.org/packages/{{assembly.name}}/{{Semver assembly.version}}">View on NuGet</a>
        </div>

        <hr />
    </div>

    <div class="flex-grow-1 flex-shrink-1">
        <div class="d-flex flex-column container px-2 pt-2">
            {{> Breadcrumbs node}}

            {{> @partial-block node}}
        </div>
    </div>

    <div>
        <hr />

        <div class="d-flex flex-column container px-2">
            <p class="text-center">
                <a href="https://github.com/{{GetAssemblyCompany assembly}}/{{assembly.name}}/releases/tag/{{Semver assembly.version}}">{{assembly.name}} {{Semver assembly.version}}</a>
                -
                <a href="https://github.com/{{GetAssemblyCompany assembly}}/{{assembly.name}}">View on GitHub</a>
                -
                <a href="https://www.nuget.org/packages/{{assembly.name}}/{{Semver assembly.version}}">View on NuGet</a>
            </p>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>