{{#>Layout node=this assembly=assembly title=(Concat assembly.name ' - ' name ' Class')}}
<h2>{{name}} Class</h2>

{{> Documentation summary}}

<p>
    Base type: {{MemberReference baseClass}}.
    {{#each implementedInterfaces}}
    {{~#if @first}}<br />Implemented interfaces:{{else}},{{/if}}
    {{MemberReference ~}}
    {{/each}}
</p>

{{#if isStatic}}
<p>This is a <a href="https://docs.microsoft.com/dotnet/csharp/language-reference/keywords/static">static</a> class.</p>
{{else if isSealed}}
<p>This is a <a href="https://docs.microsoft.com/dotnet/csharp/language-reference/keywords/sealed">sealed</a> class.</p>
{{else if isAbstract}}
<p>This is an <a href="https://docs.microsoft.com/dotnet/csharp/language-reference/keywords/abstract">abstract</a> class.</p>
{{/if}}

{{> MembersDeclaraction members=constants title='Constants' includeAccessor=1}}
{{> MembersDeclaraction members=fields title='Fields' includeAccessor=1}}
{{> MembersDeclaraction members=constructors title='Constructors' includeAccessor=1}}
{{> MembersDeclaraction members=events title='Events' includeAccessor=1}}
{{> MembersDeclaraction members=properties title='Properties' includeAccessor=1}}
{{> MembersDeclaraction members=methods title='Methods' includeAccessor=1}}


{{> MembersDeclaraction members=nestedEnums title='Nested Enums' includeAccessor=1}}
{{> MembersDeclaraction members=nestedDelegates title='Nested Delegates' includeAccessor=1}}
{{> MembersDeclaraction members=nestedInterfaces title='Nested Interfaces' includeAccessor=1}}
{{> MembersDeclaraction members=nestedClasses title='Nested Classes' includeAccessor=1}}
{{> MembersDeclaraction members=nestedStructs title='Nested Structs' includeAccessor=1}}

{{> Documentation node=remarks title='Remarks'}}
{{> Documentation examples}}
{{> Documentation node=relatedMembers title='Related Members'}}
{{/Layout}}