{{#>Layout node=this assembly=declaringType.assembly title=(Concat declaryingType.assembly.name ' - ' name ' Constructor')}}
<h2>{{MemberName this}} Constructor</h2>

{{> Documentation summary}}

<p>This is a <code>{{MemberAccessModifier this}}</code> constructor.</p>

{{#each parameters}}
{{#if @first}}
<h3>Parameters</h3>
<ul>
    {{/if}}
    <li>
        <h5>{{name}}: {{TypeReferenceLink type}}</h5>
        {{> Documentation description}}
    </li>
    {{#if @last}}
</ul>
{{/if}}
{{/#each}}

{{#each exceptions}}
{{#if @first}}
<h3>Exceptions</h3>
<ul>
    {{/if}}
    <li>
        <h5>{{TypeReferenceLink type}}</h5>
        {{> Documentation description}}
    </li>
    {{#if @last}}
</ul>
{{/if}}
{{/each}}

{{> Documentation node=remarks title='Remarks'}}
{{> Documentation examples}}
{{> Documentation node=relatedMembers title='Related Members'}}
{{/Layout}}